.item-image {
  max-width: 100%;
  max-height: 200px;
  min-height: 180px;
}

.card-body {
  max-width: 300px;
  background: rgb(58, 58, 58);
  cursor: pointer;
  transition: 0.6s;
  border: 1px solid transparent;
}

.card-body:hover {
  border: 1px solid rgb(81, 81, 197);
  background: rgb(78, 78, 78);
}

.description {
  width: 70%;
}
